*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
padding-top:100px;
}

.header-container{
    height:100px;
    width:100%;
    margin:0 auto;
    background-color: orangered;
    display:flex;
    align-items:center;
    justify-content:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    color:white;
    z-index: 1;
}
.navbar{
    max-width:1400px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}
.nav-col{
    width:250px;
    display:flex;
    justify-content:space-between;
}
.nav-col .right-menu{
    display:flex;
    align-self: right;
}
.logo{
    height:50px;
  
}
ul{
    list-style-type:none;
}
.left-menu{
    width:25%;
    height:50px;
    display:flex;
    align-items:center;
}
.left-menu li{
    margin-right:10px;
}
.right-menu{
    width:25%;
    height:50px;
    display:flex;
    align-items:center;
}
a{
    text-decoration: none;
    color:white;
}
.right-menu li{
    margin-left:10px;
}

.titolo-centrale{
    height:30px;
    width:50%;
    align-self:center;
}
.main-container{
    width:900px;
    margin:0 auto;
}
.row{
    display:flex;
    margin-top:20px;
    position: relative;
}
.colo{
    flex-basis:30%;
    padding:0 10px;
}
.sold-image{
    height:350px;
    width:250px;
    background-size: contain;
}
article{
  position:relative;
  display:flex;
}
.bg-hearts{
    height:40px;
    width:40px;
    background-color:white;
    text-align:center;
    vertical-align: middle;
    font-size: 200%;
    position:absolute;
    top:0;
    right:0;
}
.discount{
    padding:0 5px;
    min-width:30px;
    height:20px;
    background-color: red;
    position:absolute;
    left:0;
    top:85%;
    color:white;
    font-weight:bold;
}
.sostenibilita{
    position:absolute;
    top:85%;
    left:0;
    min-width:20px;
    height:20px;
    padding:5px;
    background-color:green;
    color:white;
    line-height: 50%;
    font-weight: bold;
}
#sostenibilita-prima{
    margin-left:50px;
}
.red-price{
    color:red;
    margin-left:5px;
}
#img-man-one:hover{
cursor: pointer;
content: url('../img/1b.webp');
}
#img-girl-one:hover{
    cursor: pointer;
    content: url('../img/2b.webp');
    }
#img-girl-two:hover{
        cursor: pointer;
        content: url('../img/3b.webp');
        }
#img-man-two:hover{
    cursor: pointer;
    content: url('../img/4b.webp');
     }
#img-girl-three:hover{
     cursor: pointer;
    content: url('../img/5b.webp');
     }
 #img-girl-four:hover{
    cursor: pointer;
     content: url('../img/6b.webp');
    }
    .bg-hearts:hover{
        cursor: pointer;
        color:red;
    }
.footer-finale{
    margin:auto 0;
    height:100px;
    background-color: rgb(2, 1, 10);
    
}
.titoletto-footer{
    margin-left:50px;
    color:white;
    font-weight:bold;
    display:flex;
    align-items: center;
}
.footer-item-left{
    width:50%;
    display:flex;
    justify-content: space-around;

}
.footer-item-right{
    width:50%;
    display:flex;
}